@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  border: 2px solid #0984e3;
  border-radius: 10px;
  outline: none;
  font-size: 1.2rem;
  padding: 10px 2px;
  box-shadow: 0 0 4px 1px #b2bec3;
}

button {
  padding: 20px 30px;
  background-color: #74b9ff;
  color: white;
  border-radius: 10px;
  border: 2px solid #0984e3;
  font-size: 1.2rem;
  outline: none;
}

p {
  color: #0984e3;
  font-size: 1.2rem;
}

table {
  display: block;
  margin-top: 20px;
}

th {
  border: 1px solid black;
  padding: 5px;
  background-color: brown;
}

td {
  border: 1px solid black;
  padding: 5px;
}
